#root {
  height: inherit;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #efecea;
}

.loading {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  font-style: italic;
  color: #8e8b83;
}
