.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e2e0;
}

.src {
  display: flex;
  flex-direction: column;
}

.cr {
  font-size: 1.1em;
}
